<!DOCTYPE html>
<html>
<head>
  <title>cybm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700,400,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Puritan:400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css' %>

</head>
<body>

<div class='logo'>cybm</div>
<div class="container">
<%= yield %>
</div>

</body>
</html>